<div class="profile-container">
  <aside class="sidebar">
    <h2>RTA Upload</h2>
    <ul>
      <li routerLink="/batch-list" routerLinkActive="active"><b>Upload Batch File</b></li>
      <li routerLink="/incoming-batch" routerLinkActive="active"><b>Incoming Batch File</b></li>
      <li routerLink="/profile" routerLinkActive="active">View Profile</li>
      <li routerLink="/users" routerLinkActive="active"><b>User Management</b></li>
    </ul>
  </aside>

  <button class="logout-btn" (click)="logout()">Logout</button>

  <main class="profile-content">
    <h1>Uploaded Batches</h1>

    <div class="user-info">
      <p>
        🧾 User ID: <b>{{ user?.merchantId }}</b>
      </p>
      <p>
        🏢 Company: <b>{{ user?.company }}</b>
      </p>
      <p>
        👤 Name: <b>{{ user?.name }}</b>
      </p>
    </div>

    <div class="upload-section">
      <input
        type="file"
        accept=".xlsx,.xls,.csv,.txt"
        (change)="onFileSelected($event)"
      />
      <button (click)="uploadBatch()">Upload</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Status</th>
          <th>User</th>
          <th>Created By</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let batch of batches">
          <td>{{ batch.fileName }}</td>
          <td>{{ batch.status }}</td>
          <td>{{ batch.merchantId }}</td>
          <td>{{ batch.createdBy }}</td>
          <td>{{ batch.createdAt | date : 'short' }}</td>
          <td>
            <button class="btn-blue" (click)="viewBatch(batch.batchId!)">
              View
            </button>
            <button class="btn-red" (click)="deleteBatch(batch.batchId!)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>